{% extends "base.html" %}
{% block title %}modification de photo{% endblock %}
{% block page-id %}add_photo{% endblock %}
{% block content %}

<ul id="menu">

        <li>
                <a href="{% url home %}">accueil</a>
        </li>

        <li class="menu2">
            <a href="{% url photographe %}">Photographes</a>
            
                <ul>
                    
                    <li><a href="{% url ajoutautor %}">Ajout de photographe</a></li>
            
                </ul>
        </li>
        
        <li>
            
            <a href="{% url galerie %}">photos</a>
                
                <ul>
                        <li>
                                <a href="{% url ajout_lieux %}">ajouter une photo</a>
                        </li>
                        
                        <li>
                            <a href="{% url info_photo %}">Modifier une photo</a>
                        </li>

                </ul>
        </li>
    
        <li>
            <a href = "{% url recherche %}">recherche</a>
        </li>

</ul>

            <h1>Modification de photo</h1>
            
            <p><a href = "{{url_image}}">Changer d'image</a></p>
            
        <form method = 'post' enctype="multipart/form-data">{% csrf_token %}
                               
                    <span class='prepend-4' id="">{{form.as_ul}}</span>
                            
        <p class='prepend-8'><input type='submit' value = "Modifier"/></p>

    </form>

{% endblock %}
