{% extends "base.html" %}
{% block title %}Ajout de personne{% endblock %}
{% block page-id %}ajout_lieux{% endblock %}
{% block content %}

<ul id="menu">

        <li>
                <a href="{% url home %}">accueil</a>
        </li>

        <li class="menu2">
            <a href="{% url photographe %}">Photographes</a>
            
                <ul>
                    
                    <li><a href="{% url ajoutautor %}">Ajout de photographe</a></li>
            
                </ul>
        </li>
        
        <li>
            
            <a href="{% url galerie %}">photos</a>
                
                <ul>
                        <li>
                                <a href="{% url ajout_lieux %}">ajouter une photo</a>
                        </li>
                        
                        <li>
                            <a href="{% url info_photo %}">Modifier une photo</a>
                        </li>

                </ul>
        </li>
    
        <li>
            <a href = "{% url recherche %}">recherche</a>
        </li>

</ul>

    <h1>Personne sur la photo</h1>
    
    <p color='red'>{{error}}</p>
    <fieldset>
    <table>
    <form  method="post">{% csrf_token %}
    

    {% for field in form %}
    
        
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
            {% endfor %}

    
    </table>
            <ul id = "add_i_p">
                <li><input type="reset" value="Reset"></li>
                <li><input type='submit' value = "rechercher"/></li>
            </ul>
    </form>
    </fieldset>

                        {% if response %}
                    <ul>
                    {% for photo in response %}
                  
                        <li><img src ='/static/{{ photo.photo.thumbnail }}'  height="200" width="200" ></li>
                        <li><a href= "{% url dashphoto photo.id %}"><img src="/static/css/images/button_plus.gif"></a></li>
                        <li><a href ="{% url modif_photo photo.id %} "><img id = 'image' src="/static/css/images/Pencil3.png" width="" height="50" title="{% for error in field.errors %}{{ error }}{% endfor %}" /></a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                
                <p>pas de photo </p>

     {% endblock %}
