{% extends "base.html" %}
{% block title %}Ajout d'objet{% endblock %}
{% block page-id %}ajout_lieux{% endblock %}
{% block content %}

<ul id="menu">

        <li>
                <a href="{% url home %}">accueil</a>
        </li>

        <li class="menu2">
            <a href="{% url photographe %}">Photographes</a>
            
                <ul>
                    
                    <li><a href="{% url ajoutautor %}">Ajout de photographe</a></li>
            
                </ul>
        </li>
        
        <li>
            
            <a href="{% url galerie %}">photos</a>
                
                <ul>
                        <li>
                                <a href="{% url ajout_lieux %}">ajouter une photo</a>
                        </li>
                        
                        <li>
                            <a href="{% url info_photo %}">Modifier une photo</a>
                        </li>

                </ul>
        </li>
    
        <li>
            <a href = "{% url recherche %}">recherche</a>
        </li>

</ul>

    <h1>Objet sur la photo</h1>
    <p color='red'>{{error}}</p>
    <fieldset>
    <table>
    <form  method="post">{% csrf_token %}
    {% for field in form %}
    
        
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
            {% endfor %}
    
    </table>
    
        <ul id = "add_i_p">
            <li class="prepend"><input type="reset" value="Reset" id="m_a_0">
            <input type='submit' value = "rechercher"/></li>
        </ul>
    </form>
    </fieldset>

                        {% if response %}
                    <ul>
                    {% for photo in response %}
                  
                        <li><img src ='/static/{{ photo.photo.thumbnail }}'></li>
                        
                    {% endfor %}
                    </ul>
                {% endif %}
                
                <p>pas de photo </p>






















    <script type="text/javascript"> 
 
$(document).ready(function() 
{ 

  //toggle the componenet with class msg_body 

		$("#id_objet_type_0").click(function() 
			{ 	
				$("#id_objet_fabrique_0").parent().hide(); 
				$("#id_objet_fabrique_1").parent().hide(); 
				$("#id_objet_domestique_0").parent().hide();
				$("#id_objet_domestique_1").parent().hide();
				$("#id_objet_domestique_2").parent().hide();
				$("#id_objet_domestique_3").parent().hide();
				$("#id_objet_domestique_4").parent().hide();
				$("#id_objet_domestique_5").parent().hide();
				$("#id_objet_loisir_0").parent().hide();
				$("#id_objet_loisir_1").parent().hide();
				$("#id_objet_loisir_2").parent().hide();
						$("#id_objet_naturel_0").parent().show(); 
						$("#id_objet_naturel_1").parent().show(); 
						
			}); 
			  $("#id_objet_type_1").click(function() 
  { 
		$("#id_objet_naturel_0").parent().hide(); 
		$("#id_objet_naturel_1").parent().hide(); 
				$("#id_objet_fabrique_0").parent().show(); 
				$("#id_objet_fabrique_1").parent().show(); 
				$("#id_objet_domestique_0").parent().show();
				$("#id_objet_domestique_1").parent().show();
				$("#id_objet_domestique_2").parent().show();
				$("#id_objet_domestique_3").parent().show();
				$("#id_objet_domestique_4").parent().show();
				$("#id_objet_domestique_5").parent().show();
				$("#id_objet_loisir_0").parent().show();
				$("#id_objet_loisir_1").parent().show();
				$("#id_objet_loisir_2").parent().show();
  }); 
  $("#m_a_0").click(function() 
  { 
		$("#id_objet_naturel_0").parent().show(); 
		$("#id_objet_naturel_1").parent().show(); 
				$("#id_objet_fabrique_0").parent().show(); 
				$("#id_objet_fabrique_1").parent().show(); 
				$("#id_objet_domestique_0").parent().show();
				$("#id_objet_domestique_1").parent().show();
				$("#id_objet_domestique_2").parent().show();
				$("#id_objet_domestique_3").parent().show();
				$("#id_objet_domestique_4").parent().show();
				$("#id_objet_domestique_5").parent().show();
				$("#id_objet_loisir_0").parent().show();
				$("#id_objet_loisir_1").parent().show();
				$("#id_objet_loisir_2").parent().show();
  }); 
}); 
</script> 
     {% endblock %}
