{% extends "base.html" %}
{% block title %}recherche action{% endblock %}
{% block page-id %}ajout_lieux{% endblock %}
{% block content %}

<ul id="menu">

        <li>
                <a href="{% url home %}">accueil</a>
        </li>

        <li class="menu2">
            <a href="{% url photographe %}">Photographes</a>
            
                <ul>
                    
                    <li><a href="{% url ajoutautor %}">Ajout de photographe</a></li>
                
                </ul>
        </li>
        
        <li>
            
            <a href="{% url galerie %}">photos</a>
                
                <ul>
                        <li>
                                <a href="{% url ajout_lieux %}">ajouter une photo</a>
                        </li>
                        
                        <li>
                            <a href="{% url info_photo %}">Modifier une photo</a>
                        </li>

                </ul>
        </li>
    
        <li>
            <a href = "{% url recherche %}">recherche</a>
        </li>

</ul>

    <h1>recherche action</h1>
    <p color='red'>{{error}}</p>
    <fieldset>
    <table>
    <form  method="post">{% csrf_token %}
    {% for field in form %}
    
        
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
            {% endfor %}
    
    </table>
            <ul id = "add_i_p">
                <li><input type="reset" value="Reset" id ="m_a_0"></li>
                <li ><input type='submit' value = "rechercher"/></li>
            </ul>
            
    </form>
    </fieldset>
                {% if response %}
                    <ul>
                    {% for photo in response %}
                  
                        <li><img src ='/static/{{ photo.photo.thumbnail }}'></li>
                        
                    {% endfor %}
                    </ul>
                {% endif %}
                
                <p>pas de photo </p>
     {% endblock %}
